/* Custom CSS */
:root {
    --color-accent: #f35948;
}

.title, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #37474f;